{% extends 'base.html.twig' %}

{% block body %}

    {% for flash_message in app.flashes('success') %}
        <div class="box box-success">{{ flash_message }}</div>
    {% endfor %}
    
    {{ form_start(form) }}
    {{ form_rest(form) }}
    <button type="submit">Submit</button>
    {{ form_end(form) }}
{% endblock %}
