{% extends '@!ArkounayQuickAdminGenerator/form/form_theme.html.twig' %}

{% block seo_widget %}
    <div {{ stimulus_controller('input_text_count', {maxCharCount: '60'}) }}>
        {{ form_row(form.title, {attr: {'data-action': 'keyup->input-text-count#updateText', 'data-input-text-count-target': 'input'}, row_attr: {class: 'mb-0'}}) }}
        <div data-input-text-count-target="count" class="small text-end"></div>
    </div>
    <div class="mb-2" {{ stimulus_controller('input_text_count', {maxCharCount: '160'}) }}>
        {{ form_row(form.description, {attr: {'data-action': 'keyup->input-text-count#updateText', 'data-input-text-count-target': 'input'}, row_attr: {class: 'mb-0'}}) }}
        <div data-input-text-count-target="count" class="small text-end"></div>
    </div>
{% endblock %}