{% if value is not empty %}
    <div {% if value < date('now') %}class="text-danger" data-bs-toggle="tooltip" title="La date de fin est antérieure à aujourd'hui. L'élément n'apparaîtra donc pas sur le site." {% endif %}>
        {{ value|date('d/m/Y') }}
    </div>
{% endif %}