<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="">

        {# <meta name="theme-color" content="#ffffff"> #}

        {# Sharing #}
        {#
        <meta property="og:type" content="article"/>
        <meta property="og:title" content="__project_name__"/>

        <meta property="og:description" content=""/>
        <meta property="og:url" content="{{ app.request.uri }}"/>
        <meta property="og:image:width" content="1200"/>
        <meta property="og:image:height" content="630"/>

        <meta property="og:image" content="{{ absolute_url(asset('images/')) }}"/>
        #}

        {# <meta name="description" content="{% block description page('seo').description|default %}"/> #}

        <meta name="robots" content="noindex, nofollow">

        <title>{% block title %}__project_name__{% endblock %}</title>

        {% block fonts %}
        {% endblock %}

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
